code_after_vacation/fft/using_the_kissfft_library/gitpy/lib64
code_after_vacation/fft/using_the_kissfft_library/gitpy/pyvenv.cfg
code_after_vacation/fft/using_the_kissfft_library/gitpy/bin/python
code_after_vacation/fft/using_the_kissfft_library/gitpy/bin/python3
